version: '3.3'
services:
  blog:
    build: .
    environment:
      PYTHONIOENCODING: utf-8
      PYTHONPATH: /work
      NOSE_NOCAPTURE: 1
    ports:
      - "8888:8888"
    volumes:
      - ./src:/work
    tty: true

  postgres:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER: blog
      POSTGRES_PASSWORD: blog
