<%inherit file="base.html"/>

<%block name="content">
  <div>
    <form style="padding:10px 0px 25px 0px" action="" method="GET" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="keyword" aria-label="" value="">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

<div>
% for a in articles:
    % if a.is_public:
      <!-- Blog Post -->
      <div class="card mb-4">
        <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
        <div class="card-body">
          <a href="${reverse_url('article:detail', a.id)}"><h3 class="card-title article-title">${ a.title }</h3></a>
          <div>${ a.abstract |h}<a href="${reverse_url('article:detail', a.id)}">......</a></div>
        <div class="card-footer text-muted">
          <span>写于 ${ftime(a.created)}</span>
          <!-- <a href="#">${a.user.username}</a> -->
        </div>
        </div>
      </div>
    % endif
% endfor

      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          % if d["has_pre"]:
          <li class="page-item">
            <a class="page-link" href="${d["page_url"](d["has_pre"])}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          % else:
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          % endif
          % for p in range(d["plist"][0], d["plist"][1]):
            % if p == d["cur_page"]:
              <!-- <li class="page-item active"><a class="page-link" href="${reverse_url('article:index')}?page=${p}">${p}</a></li> -->
              <li class="page-item active"><a class="page-link" href="${d["page_url"](p)}">${p}</a></li>
            % else:
              <!-- <li class="page-item"><a class="page-link" href="${reverse_url('article:index')}?page=${p}">${p}</a></li> -->
              <li class="page-item"><a class="page-link" href="${d["page_url"](p)}">${p}</a></li>
            % endif
          % endfor
          % if d["has_next"]:
            <li class="page-item">
              <a class="page-link" href="${d["page_url"](d["has_next"])}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          % else:
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          % endif
        </ul>
      </nav>
      <!-- Pagination  end -->

</div>

</%block>
