<%inherit file="../base.html"/>

<%block name="content">
<div>
  <form style="padding:10px 0px 25px 0px" action="/" method="GET" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" name="keyword" aria-label="" value="">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<!-- Title -->
<h3 class="mt-4 article-title">${ article.title }</h3>

<!-- Author -->
<!-- <p class="lead">
  by
  <a href="#">Start Bootstrap</a>
</p> -->

<hr>

<!-- Date/Time -->
<span>写于 ${ftime(article.created)}</span>

<hr>


<!-- Post Content -->
<div>
${ article.content_html }

</div>
<hr>

<div class="detail-a">
% if article.user == current_user:
  <a href="${reverse_url('article:edit', article.id)}">编辑</a>
% endif
% if (article.user == current_user) or (article.user.is_admin == True):
  <a style="padding: 0px 25px" href="${reverse_url('article:del', article.id)}">删除</a>
% endif
</div>

</%block>
