<%inherit file="../base.html"/>

<%block name="content">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <tr>
          <th>用户ID</th>
          <th>用户名</th>
          <th>邮箱</th>
          <th>别名</th>
          <th>管理员</th>
          <th>是否锁定</th>
          <th>操作</th>
        </tr>
        % for user in users:
        <tr>
          <td>${ user.id }</td>
          <td>${ user.username }</td>
          <td>${ user.email }</td>
          <td>${ user.nickname }</td>
          <td>${ user.is_admin }</td>
          <td>${ user.is_lock }</td>
          <td><a href="${ reverse_url('admin:userinfo', user.id)}">查看</a></td>
        </tr>
        % endfor
      </table>
    </div>

  </div>
</div>

</%block>
