textarea[name=title] {
    resize: none;
}

textarea[name=content] {
    resize: none;
}

#content{
    padding: 25px 0px 100px 0px;

}

/* #content, .dropdown {
    color: #777;
} */

a:hover {
    color: #777;
    text-decoration: none;
}

a {
    color: #48cfad;
}

/* 分页 */
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #48cfad;
    border-color: #48cfad;
}

.page-item .page-link {
    color: #777;
}

/* 导航 */
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #48cfad;
}

.btn-outline-info {
    /* color: #17a2b8; */
    color: #48cfad;
    background-color: transparent;
    background-image: none;
    border-color: #48cfad;
}

.btn-outline-info:hover {
    background-color: #48cfad;
    border-color: #48cfad;
}

.change-img {
    text-align: center;
    padding: 20px 0px;
}

.article-title:hover{
    color: #212529;
    /* color: #48cfad; */
}

.article-title{
    /* color: #212529; */
    color: #34495E;
}

.navbar-brand {
    font-size: 30px;
}

#no_page {
    text-align: center;
    padding: 50px;
    font-size: 1.2rem;
}


.detail-a {
    padding: 80px 0px 40px 0px;
}
