textarea[name=title] {
    resize: none;
}

textarea[name=content] {
    resize: none;
}

#content{
    padding: 25px 0px 100px 0px;

}

/* .dropdown-menu {
   right: 0;
   left: auto;
   margin-top: 32px;
} */

#content, .dropdown {
    color: #777;
}

a:hover {
    color: #777;
    text-decoration: none;
}

a {
    color: #48cfad;
}

/* 分页 */
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #48cfad;
    border-color: #48cfad;
}

.page-item .page-link {
    color: #777;
}

/* 导航 */
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #48cfad;
}

/* .text-white {
    color: #777!important;
} */

/* #search-form {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
} */
